* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

.container {
  margin: 5rem;
}

.modal-btn {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
  /* transform: scale(0.9); */
}

.modal-btn:hover {
  background-color: #fff;
  color: #212121;
  border: 1px solid #212121;
  transition: all 0.1s;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 28rem;
  background-color: #fefefe;
  padding: 2rem;
  border: 1px solid #888;
  border-radius: 4px;
}

.modal-container h2, p {
  padding-bottom: 1rem;
}